main {
  margin: 80px;
}

h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
}

article {
  background-color: rgb(243, 206, 158);
  border-radius: 40px;
  padding: 25px;
  margin-bottom: 20px;
}
