html {
  --yellow: hsl(49, 100%, 98%);
}

* {
  color: rgb(68, 46, 17);
}

/* fonts */

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Lora", serif;
}

*a {
  font-family: "Lora", serif;
  font-weight: 300;
}

p {
  font-family: "Manrope", sans-serif;
}

/* button */
.button {
  padding: 18px 40px;
  border: none;
  border-radius: 20px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  text-decoration: none;
  margin-top: 20px;
}

hr {
  border: none;
  height: 5px;
  background-color: rgb(91, 87, 87);
  margin: 2rem 0;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 12px 20px;

  border: none;
  border-radius: 20px;

  background-color: #d8c8a5;
  cursor: pointer;
}

button:hover {
  background-color: #efcc8f;
}

/* Nav */ /* header */
header {
  /* background-color: hsl(50, 92%, 85%); */
  background-color: var(--yellow);
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  font-size: larger;
}
nav a a {
  text-decoration: none;
  color: black;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;

  /* & a {
    text-decoration: none;
  } */
}
nav ul a {
  text-decoration: none;
}

/* Body */
body {
  background-color: #fff3d6;
}

/* img */
img {
  max-width: 100%;
  margin-top: 30px;
}

.lau25 {
  width: 320px;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  /* background-color: #efcc8f; */
  padding: 80px 30px;
  gap: 40px;
}

.hero-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-text h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 40px;
}

.hero-image {
  align-self: center;
}

/* Om projekt */
.projekt {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.projekt a {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projekt-text h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.projekt-text p {
  font-size: 19px;
  line-height: 1.6;
}

/* Footer */
.footer {
  background: #fce9bf;
  padding: 60px;
  border-top: 1px solid var(--border);
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer p,
.footer a {
  display: block;
  font-size: 16px;
}

/* Desktop */
@media screen and (min-width: 600px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .projekt {
    flex-direction: row;
    align-items: center;
    gap: 60px;
    max-width: none;
  }

  .projekt-text {
    flex: 1;
  }

  .projekt-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  img {
    margin-bottom: 40px;
    border-radius: 40px;
  }

  .gallery {
    display: flex;
    justify-content: center;
    gap: 60px;

    border-radius: 20px;
  }

  .gallery img {
    width: 280px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
