/* Layout */

#t2top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  margin: 20px;
}

.t2img {
  margin-left: 90px;
  border-radius: 20px;
}

p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Standard = mobil, ingen grid */
#t2top {
  display: block;
}

/* Desktop = grid */
@media screen and (min-width: 600px) {
  #t2top {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .t3img {
    margin-left: 40px;
    margin-right: -20px;
  }
}
